{{! // RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
//Assessment: Assignment 2
//Author: Vo Chau Thang - s3927178, Nguyen Ngoc Kim - s3970589, 
//        Nguyen Huu Quoc Huy - s3986423, Lam Uy Vu - s3938804, Lee Jae Sung - s3977739
//Acknowledgement: Acknowledge the resources that you use here. }}

<style>
  .blue-div { background-color: #034266; color: white; border-radius: 50px;
  padding: 20px; text-align: center; } .text-div { padding: 5%; } .gray-div {
  margin-top: 2%; background-color: #D9D9D9; border-radius: 10px; padding: 20px;
  text-align: center; } .avatar { width: 150px; height: 150px; border-radius:
  50%; object-fit: cover; margin-bottom: 20px; } .name { font-size: 24px;
  font-weight: bold; margin-bottom: 10px; } .introduction { font-size: 18px; }

</style>
<main>
  <div style="background-color: #8D8C8C;">
    <input type="checkbox" id="check1" name="check1" />
    <nav class="container nav1">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="/service">Service</a></li>
        <li style="background-color: #DE4F11;"><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <label for="check1" class="checkbtn1">
      <i class="fa fa-bars"></i>
      <span class="category-text">CATEGORIES</span>
    </label>
  </div>

  <!-- collection -->

  <!-- Trending Categories -->

  <!-- Flash Sale -->

  <!-- Simple Mall -->

  <!-- Daily Discover -->
  <div class="dailyDiscover container d-flex justify-content-center">
    <div class="blue-div" style="width: 70%;">
      <h1>GROUP 6 eCommerce Project</h1>
    </div>
    <p class="text-div" fro>The goal of this project in this assignment is to build a full-stack eCommerce website which enables the users to sign up, 
      browse, search, and purchase products online. Moreover, for each type of accounts, they will be able to do different tasks which are only they 
      can do such as the customer can making order, the vendor can edit their online shop as adding products and viewing them, for instance, and the 
      delivery boys can handle the orders and update their status for the customers and vendors. In addition, this project will involve developing both 
      the frontend and backend components for the website, it also includes an user-friendly interface as well as some of systems such as robust product catalog, 
      payment and order management.</p>
    <hr />
    <div class="blue-div" style="width: 70%;">
      <h1>Team profile</h1>
    </div>

    <div class="gray-div">
      <img src="image/Kim.jpg" alt="Avatar" class="avatar" />
      <h2 class="name">Nguyen Ngoc Kim - s3970589</h2>
      <p class="introduction">In my opinion, technology is the new way to improve the world, and that is the reason why I choose to be an IT student at RMIT University, and this is my second semester here. 
        This semester, I enrolled in 3 courses including Practical Database Concept, User-center Design and Web Programming. 
        When I joined group 6 in the Web Programming course, I hoped to improve my soft skills such as communication, time management, coding style and among others.
        Nevertheless, I also contribute all of my ability for the assignment as well as for group activities. Moreover, I think my presentation skills, critical thinking and especially writing skill will be helpful for the group's assignment.
        Finally, I wish that all progress in this project will run smoothly and make a good impression on the lecturer and the audience so that we can reach our peak of mark such as DI or HD.</p>
    </div>

    <div class="gray-div">
      <img src="image/Huy.jpg" alt="Avatar" class="avatar" />
      <h2 class="name">Nguyen Huu Quoc Huy - s3986423</h2>
      <p class="introduction">As a first year IT student in his second semester, I loved all things computer, that is why I chose to pursue this course in the first place. 
        That being said, even though working on projects have mostly been really fun, it is not without its difficulties. Still, surprisingly enough, those difficult moments are also the ones that help me learn the most.
        And that is also how I felt while making this eCommerce website, hard but fun. While my target for completing this assignment is first and foremost a good grade, I also hope to elevate both my soft and technical skills, 
        specifically planning and coding.</p>
    </div>

    <div class="gray-div">
      <img src="image/Vu.jpg" alt="Avatar" class="avatar" />
      <h2 class="name">Lam Uy Vu - s3938804</h2>
      <p class="introduction">In this Full-Stack-Website project, I have realised how many lessons I have learned. Not only did the course take me to an in-depth understanding of the front-end framework but it also gave me a better perspective on the back-end framework. 
        As for the project, our team has faced a lot of obstacles on the way. However, the team manages to overcome those limits. Even though each team member has their own schedule, they were able to come on time and work on the tasks. During the process, 
        I learned various soft skills like teamwork cooperation, time management, and a few coding languages that are helpful for website development. Furthermore, the project made me acknowledge the dedication and hard-work that our team has poured into this project. 
        Therefore, If our project gets a High Distinction, it proves that our team member’s effort  and commitment toward this project have paid off.</p>
    </div>

    <div class="gray-div">
      <img src="image/Sung.jpg" alt="Avatar" class="avatar" />
      <h2 class="name">Lee Jae Sung - s3977739</h2>
      <p class="introduction">My own personal interest lies in the steps involved in the production of this full-stack web design. Not only will I be able to improve my skills in web design, 
        but I will also acquire a great deal of new skills and information along the way. For someone who is new to coding like me, developing an eCommerce platform is not an easy task; however, 
        I am hoping that I will be able to handle it and make good progress within the group. This is my second semester, and I have underestimated the difficulty of the deadline and the web programming course, 
        as Tom Huynh always challenges our skills and also our limits so each individual can improve.</p>  
    </div>

    <div class="gray-div">
      <img src="image/Thang.jpg" alt="Avatar" class="avatar" />
      <h2 class="name">Vo Chau Thang - s3927178</h2>
      <p class="introduction">As this is my second year as an IT student at RMIT University. After that time, I encountered many challenges on this path. 
        Yes there are difficulties, but among that were happiness, success, and deserved, those are the feelings I had been through. I still maybe continue on my journey with those feelings. 
        This semester, I enrolled in Web programming where I hope I can continue to demonstrate new knowledge of the technical language, and improve and keep going forward to discover more knowledge is always my goal. 
        In this course, being involved in developing an e-commerce website is not that easy, except for the html, css, js I learned a little bit, now to create a full stack website that contains more applications about the backend language is difficult to a new coder like me. 
        However, as this is a group assignment we will work and figure it out together to make it more easy. Working through this assignment together I hope my knowledge and my coding skill will improve and have a new step in the future.</p>
    </div>
  </div>
</main>